@keyframes updown {
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(5px);
    }
}

@keyframes PageLoad {
    from{
        opacity: 0;
        transform: translate(0,-5px);
    }
    
    to{
        opacity: 1;
        transform: translate(0,0);
    }
}